<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("include/css.ejs") %>
</head>

<body id="bg">
    <div class="page-wraper">
        <div id="loading-icon-bx"></div>
        <%- include("include/header") %>
        <div class="page-banner ovbl-dark" style="background-image:url(assets/images/banner/banner1.jpg);">
            <div class="container">
                <div class="page-banner-entry">
                    <h1 class="text-white">Profile</h1>
				 </div>
            </div>
        </div>
        <div class="breadcrumb-row">
			<div class="container">
				<ul class="list-inline">
					<li><a href="#">Home</a></li>
					<li>Profile</li>
				</ul>
			</div>
		</div>
        <div class="content-block">
            <!-- About Us -->
			<div class="section-area section-sp1">
                <div class="container">
					 <div class="row">
						<div class="col-lg-3 col-md-4 col-sm-12 m-b30">
							<div class="profile-bx text-center">
								<div class="user-profile-thumb">
									<img src="assets/images/profile/pic1.jpg" alt="">
								</div>
								<div class="profile-info">
									<h4>Mark Andre</h4>
									<span>mark.example@info.com</span>
								</div>
								<%- include("include/sidebar.ejs") %> 
							</div>
						</div>
						<div class="col-lg-9 col-md-8 col-sm-12 m-b30">
							<div class="profile-content-bx">
								<div class="tab-content">
									<div class="tab-pane active" id="courses">
										<div class="profile-head">
											<h3>My Courses</h3>
											<div class="feature-filters style1 ml-auto">
												<ul class="filters" data-toggle="buttons">
													<li data-filter="" class="btn active">
														<input type="radio">
														<a href="#"><span>All</span></a> 
													</li>
													<li data-filter="publish" class="btn">
														<input type="radio">
														<a href="#"><span>Publish</span></a> 
													</li>
													<li data-filter="pending" class="btn">
														<input type="radio">
														<a href="#"><span>Pending</span></a> 
													</li>
												</ul>
											</div>
										</div>
										<div class="courses-filter">
											<div class="clearfix">
												<ul id="masonry" class="ttr-gallery-listing magnific-image row" style="position: relative; height: 1042.78px;">
													<li class="action-card col-xl-4 col-lg-6 col-md-12 col-sm-6 publish" style="position: absolute; left: 0px; top: 0px;">
														<div class="cours-bx">
															<div class="action-box">
																<img src="assets/images/courses/pic1.jpg" alt="">
																<a href="#" class="btn">Read More</a>
															</div>
															<div class="info-bx text-center">
																<h5><a href="#">Introduction EduChamp – LMS plugin</a></h5>
																<span>Programming</span>
															</div>
															<div class="cours-more-info">
																<div class="review">
																	<span>3 Review</span>
																	<ul class="cours-star">
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																	</ul>
																</div>
																<div class="price">
																	<del>$190</del>
																	<h5>$120</h5>
																</div>
															</div>
														</div>
													</li>
													<li class="action-card col-xl-4 col-lg-6 col-md-12 col-sm-6 pending" style="position: absolute; left: 271px; top: 0px;">
														<div class="cours-bx">
															<div class="action-box">
																<img src="assets/images/courses/pic2.jpg" alt="">
																<a href="#" class="btn">Read More</a>
															</div>
															<div class="info-bx text-center">
																<h5><a href="#">Introduction EduChamp – LMS plugin</a></h5>
																<span>Programming</span>
															</div>
															<div class="cours-more-info">
																<div class="review">
																	<span>3 Review</span>
																	<ul class="cours-star">
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																	</ul>
																</div>
																<div class="price">
																	<del>$190</del>
																	<h5>$120</h5>
																</div>
															</div>
														</div>
													</li>
													<li class="action-card col-xl-4 col-lg-6 col-md-12 col-sm-6 publish" style="position: absolute; left: 543px; top: 0px;">
														<div class="cours-bx">
															<div class="action-box">
																<img src="assets/images/courses/pic3.jpg" alt="">
																<a href="#" class="btn">Read More</a>
															</div>
															<div class="info-bx text-center">
																<h5><a href="#">Introduction EduChamp – LMS plugin</a></h5>
																<span>Programming</span>
															</div>
															<div class="cours-more-info">
																<div class="review">
																	<span>3 Review</span>
																	<ul class="cours-star">
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																	</ul>
																</div>
																<div class="price">
																	<del>$190</del>
																	<h5>$120</h5>
																</div>
															</div>
														</div>
													</li>
													<li class="action-card col-xl-4 col-lg-6 col-md-12 col-sm-6 pending" style="position: absolute; left: 0px; top: 347px;">
														<div class="cours-bx">
															<div class="action-box">
																<img src="assets/images/courses/pic4.jpg" alt="">
																<a href="#" class="btn">Read More</a>
															</div>
															<div class="info-bx text-center">
																<h5><a href="#">Introduction EduChamp – LMS plugin</a></h5>
																<span>Programming</span>
															</div>
															<div class="cours-more-info">
																<div class="review">
																	<span>3 Review</span>
																	<ul class="cours-star">
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																	</ul>
																</div>
																<div class="price">
																	<del>$190</del>
																	<h5>$120</h5>
																</div>
															</div>
														</div>
													</li>
													<li class="action-card col-xl-4 col-lg-6 col-md-12 col-sm-6 publish" style="position: absolute; left: 271px; top: 347px;">
														<div class="cours-bx">
															<div class="action-box">
																<img src="assets/images/courses/pic5.jpg" alt="">
																<a href="#" class="btn">Read More</a>
															</div>
															<div class="info-bx text-center">
																<h5><a href="#">Introduction EduChamp – LMS plugin</a></h5>
																<span>Programming</span>
															</div>
															<div class="cours-more-info">
																<div class="review">
																	<span>3 Review</span>
																	<ul class="cours-star">
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																	</ul>
																</div>
																<div class="price">
																	<del>$190</del>
																	<h5>$120</h5>
																</div>
															</div>
														</div>
													</li>
													<li class="action-card col-xl-4 col-lg-6 col-md-12 col-sm-6 pending" style="position: absolute; left: 543px; top: 347px;">
														<div class="cours-bx">
															<div class="action-box">
																<img src="assets/images/courses/pic6.jpg" alt="">
																<a href="#" class="btn">Read More</a>
															</div>
															<div class="info-bx text-center">
																<h5><a href="#">Introduction EduChamp – LMS plugin</a></h5>
																<span>Programming</span>
															</div>
															<div class="cours-more-info">
																<div class="review">
																	<span>3 Review</span>
																	<ul class="cours-star">
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																	</ul>
																</div>
																<div class="price">
																	<del>$190</del>
																	<h5>$120</h5>
																</div>
															</div>
														</div>
													</li>
													<li class="action-card col-xl-4 col-lg-6 col-md-12 col-sm-6 publish" style="position: absolute; left: 0px; top: 695px;">
														<div class="cours-bx">
															<div class="action-box">
																<img src="assets/images/courses/pic7.jpg" alt="">
																<a href="#" class="btn">Read More</a>
															</div>
															<div class="info-bx text-center">
																<h5><a href="#">Introduction EduChamp – LMS plugin</a></h5>
																<span>Programming</span>
															</div>
															<div class="cours-more-info">
																<div class="review">
																	<span>3 Review</span>
																	<ul class="cours-star">
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																	</ul>
																</div>
																<div class="price">
																	<del>$190</del>
																	<h5>$120</h5>
																</div>
															</div>
														</div>
													</li>
													<li class="action-card col-xl-4 col-lg-6 col-md-12 col-sm-6 book" style="position: absolute; left: 271px; top: 695px;">
														<div class="cours-bx">
															<div class="action-box">
																<img src="assets/images/courses/pic8.jpg" alt="">
																<a href="#" class="btn">Read More</a>
															</div>
															<div class="info-bx text-center">
																<h5><a href="#">Introduction EduChamp – LMS plugin</a></h5>
																<span>Programming</span>
															</div>
															<div class="cours-more-info">
																<div class="review">
																	<span>3 Review</span>
																	<ul class="cours-star">
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																	</ul>
																</div>
																<div class="price">
																	<del>$190</del>
																	<h5>$120</h5>
																</div>
															</div>
														</div>
													</li>
													<li class="action-card col-xl-4 col-lg-6 col-md-12 col-sm-6 publish" style="position: absolute; left: 543px; top: 695px;">
														<div class="cours-bx">
															<div class="action-box">
																<img src="assets/images/courses/pic9.jpg" alt="">
																<a href="#" class="btn">Read More</a>
															</div>
															<div class="info-bx text-center">
																<h5><a href="#">Introduction EduChamp – LMS plugin</a></h5>
																<span>Programming</span>
															</div>
															<div class="cours-more-info">
																<div class="review">
																	<span>3 Review</span>
																	<ul class="cours-star">
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																	</ul>
																</div>
																<div class="price">
																	<del>$190</del>
																	<h5>$120</h5>
																</div>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>									
								</div> 
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>    
        <%- include("include/footer") %>
                <!-- Footer END ==== -->
                <button class="back-to-top fa fa-chevron-up"></button>
    </div>
    <%- include("include/js.ejs") %>
</body>

</html>