<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("include/css.ejs") %>
</head>

<body id="bg">
    <div class="page-wraper">
        <div id="loading-icon-bx"></div>
        <%- include("include/header") %>
            <div class="page-banner ovbl-dark" style="background-image:url(assets/images/banner/banner1.jpg);">
                <div class="container">
                    <div class="page-banner-entry">
                        <h1 class="text-white">Profile</h1>
                    </div>
                </div>
            </div>
            <div class="breadcrumb-row">
                <div class="container">
                    <ul class="list-inline">
                        <li><a href="#">Home</a></li>
                        <li>Profile</li>
                    </ul>
                </div>
            </div>
            <div class="content-block">
                <!-- About Us -->
                <div class="section-area section-sp1">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-12 m-b30">
                                <div class="profile-bx text-center">
                                    <div class="user-profile-thumb">
                                        <img src="assets/images/profile/pic1.jpg" alt="">
                                    </div>
                                    <div class="profile-info">
                                        <h4>Mark Andre</h4>
                                        <span>mark.example@info.com</span>
                                    </div>
                                    <%- include("include/sidebar.ejs") %>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-12 m-b30">
                                <div class="profile-content-bx">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="edit-profile">
                                            <div class="profile-head">
                                                <h3>Edit Profile</h3>
                                            </div>
                                            <form class="edit-profile">
                                                <div class="">
                                                    <div class="form-group row">
                                                        <div class="col-12 col-sm-9 col-md-9 col-lg-10 ml-auto">
                                                            <h3>1. Personal Details</h3>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label
                                                            class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Full
                                                            Name</label>
                                                        <div class="col-12 col-sm-9 col-md-9 col-lg-7">
                                                            <input class="form-control" type="text" value="Mark Andre">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label
                                                            class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Eamil</label>
                                                        <div class="col-12 col-sm-9 col-md-9 col-lg-7">
                                                            <input class="form-control" type="email" value="email@"
                                                                readonly>
                                                            <p
                                                                style="margin-top: 4px; margin-bottom: 0px; color: red; font-size: 13px; font-weight: 400;">
                                                                <span>Created Date : 12/12/2023</span></p>
                                                        </div>

                                                    </div>


                                                </div>
                                                <div class="">
                                                    <div class="">
                                                        <div class="row">
                                                            <div class="col-12 col-sm-3 col-md-3 col-lg-2">
                                                            </div>
                                                            <div class="col-12 col-sm-9 col-md-9 col-lg-7">
                                                                <button type="reset" class="btn">Save changes</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include("include/footer") %>
                    <!-- Footer END ==== -->
                    <button class="back-to-top fa fa-chevron-up"></button>
            </div>
            <%- include("include/js.ejs") %>
</body>

</html>